body {
  margin: 0;
  padding: 0;
  background-color: #4b4949;
  display: flex;
  height: 100vh;
}

.container {
  border-radius: 100px;
  box-shadow: 15px 15px 90px 3px white;
  padding: 30px 90px;
  margin: auto;
  position: relative;
  background-color: #fff;
}

.container h1{
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

.hangman-container{
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
}

.hangman{
  position: relative;
  background-color: #212020;
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: ce;
}

.head {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ff3333;
  top: 0;
  left: 30px;
}

.body {
  position: relative;
  width: 10px;
  height: 60px;
  /* border-radius: 50%; */
  background-color: #ff3333;
  top: 0;
  left: 56px;
  top: -4px;
}

.left-arm,
.right-arm {
  position: relative;
  width: 70px;
  height: 10px;
  background-color: #ff3333;
  top: -40px;
}

.left-arm {
  position: relative;
  transform: rotate(-45deg);
  left: 0;
}

.right-arm {
  position: relative;
  transform: rotate(45deg);
  right: -55px;
  top: -50px;
}

.left-leg,
.right-leg {
  position: relative;
  width: 70px;
  height: 10px;
  background-color: #ff3333;
  top: -5px;
}

.left-leg {
  position: relative;
  transform: rotate(-45deg);
  left: 0;
}

.right-leg {
  position: relative;
  transform: rotate(45deg);
  right: -50px;
  top: -15px;
}

.word-display {
  margin-top: 30px;
  font-size: 24px;
  display: flex;
  list-style: none;
  gap: 10px;
  justify-content: center;
}

.letter {
  width: 28px;
  font-size: 2rem;
  margin: 40px 0;
  font-weight: 600;
  text-transform: lowercase;
}

.letter.guessed {
  margin: 0 0 20px;
}

.guesses {
  font-size: 18px;
  margin-bottom: 10px;
}

.input-container {
  /* border: 2px solid red; */
  align-items: center;
  padding: 5px;
  display: flex;
  gap: 6px;
}

input[type="text"] {
  height: 24px;
  outline: none;
  border: none;
  font-size: 18px;
  padding: 5px;
}


#guessButton {
  font-size: 20px;
  background-color: rgb(32, 31, 31);
  color: #fff;
  width: 80px;
  /* height: 30px; */
  padding: 5px;
}

.hide {
  display: none;
}

.parts{
  margin-left: 40px;
}